# FastAPI & Server
fastapi
uvicorn[standard]

# Database & ORM
sqlmodel
asyncpg
psycopg2-binary
alembic

# Authentication & Security
passlib
bcrypt==4.0.1
python-jose
authlib
itsdangerous

# Configuration & Utilities
python-dotenv
pydantic[email]
pydantic_settings

# Other
python-multipart
fastapi_mail
supabase

# Development & Testing
pytest
pytest-asyncio
httpx
TestClient